<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content class="ion-text-left" (click)="openModal(film)">
        <ion-card-subtitle>Birth Year: {{birthYear}}</ion-card-subtitle>
        <ion-card-subtitle>Eye color: {{eyeColor}}</ion-card-subtitle>
        <ion-card-subtitle>Hair color: {{hairColor}}</ion-card-subtitle>
        <ion-card-subtitle>Skin color: {{skinColor}}</ion-card-subtitle>
        <ion-card-subtitle>Height: {{height}}</ion-card-subtitle>
        <ion-card-subtitle>Birth year: {{birthYear}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>