/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content {
    padding: 10px !important;
    --ion-background-color: #B6233D;
    --ion-color: #61191A;
}

ion-tool-bar {
    --ion-background-color: #61191A;
    --ion-color: #fdfdfd;
}

ion-card {
    --ion-background-color: #a0a0a0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 0px;
    border-left: 3px solid #61191A;
}

ion-card-subtitle {
    --color: #61191A;
    padding-bottom: 1px;
}

ion-title, ion-button {
    --color: rgb(223, 223, 223);
}

ion-header {
    --ion-background-color: #61191A;
    --ion-color: rgb(223, 223, 223);
}
