<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4>All Characters</h4>
  <div class="list">
    <ion-list>
        <ion-item button *ngFor="let char of chars" (click)="openModal()">
          <img class="img-item" src="../../assets/img/profile.jpg" alt="">&nbsp;&nbsp;&nbsp;
          <ion-label>{{char.name}}</ion-label>
          <ion-icon name="contact"></ion-icon>
        </ion-item>
    
    </ion-list>
  </div>
</ion-content>
