<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
        <ion-card-title></ion-card-title>
        <ion-card-title>Opening</ion-card-title>
        <ion-card-subtitle>{{openingCrawl}}</ion-card-subtitle><br>
        <ion-card-title>Director</ion-card-title>
        <ion-card-subtitle>Director: {{director}}</ion-card-subtitle><br>
        <ion-card-title>Producer</ion-card-title>
        <ion-card-subtitle>Producer: {{producer}}</ion-card-subtitle>
        <ion-card-subtitle>Characters: {{chars}}</ion-card-subtitle>
</ion-content>
