<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content class="ion-text-left" (click)="openModal(film)">
      <div class="content">
      </div>
        <ion-card-title>Starship info:</ion-card-title>
        <ion-card-subtitle>Model: {{model}}</ion-card-subtitle>
        <ion-card-subtitle>Starship Class: {{starshipClass}}</ion-card-subtitle>
        <ion-card-subtitle>Crew: {{crew}}</ion-card-subtitle>
        <ion-card-subtitle>Manufacturer: {{manufacturer}}</ion-card-subtitle>
        <ion-card-subtitle>Max atmospheric speed: {{speed}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
