h4 {
    padding-left: 15px;
    padding-right: 15px;
}

ion-card-subtitle {
    --ion-color: whitesmoke;
}

ion-card {
    background-color: #61191A;
    color: #fdfdfd;
}

ion-card-title {
    font-size: 14px;
    color: #eeeeee;
}