<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4>All Films</h4>

  <ion-card *ngFor="let film of films">
    <!-- <ion-card-header>

    </ion-card-header> -->

    <ion-card-content class="ion-text-left" (click)="openModal(film)">
      <div class="content">
      </div>
        <ion-card-title>{{film.title}}</ion-card-title>
        <ion-card-subtitle>Director: {{film.director}}</ion-card-subtitle>
        <ion-card-subtitle>Producer: {{film.producer}}</ion-card-subtitle>
        <ion-progress-bar value="0.7" color="primary"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-content>
